#panel {
    background-color: #040306;
    height: 100vh;
    overflow: hidden;
    width: 300px;
    position: absolute;
    left: 0px;
}

#panel-spotify-logo {
    height: 45px;
    width: 45px;
    margin: 20px;
    color: #1db954;
}

#panel-spotify-banner {
    float: right;
    margin: 28px 20px;
}

#panel-spotify-log-out {
    max-height: 100%;
    padding: 7px 15px !important;
    font-size: x-small;
    text-decoration: none;
    color: white !important;
    background-color: transparent !important;
    border: 1px solid white !important;
    border-radius: 30px !important;
    font-weight: 700 !important;
    letter-spacing: 2px !important;
}

#panel-spotify-log-out:hover {
    background-color: white !important;
    color: black !important;
}

#main {
    left: 300px;
    position: absolute;
    width: calc(100vw - 300px);
    height: 100vh;
    overflow-y: scroll;
}

#authentication-code {
    font-size: x-small;
    color: grey;
    margin: 5px 20px;
}

#actions {
    width: 350px;
    margin: 25px auto;
    text-align: center;
}

#actions button {
    margin-bottom: 7px;
}

#recognition {
    text-align: center;
}

#recognition * {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0px;
}

#recognition div {
    width: 100%;
}

#powered-by {
    color: #6fc6b2;
    padding-right: 10px;
    font-size: 12px;
    font-weight: 600;
}

#tmdb-img {
    width: 24px;
    transition: .2s;
}

#tmdb-img:hover {
    width: 26px;
    transition: .2s;
}

#bp-link {
    margin-left: 5px;
    color: #909090;
    text-decoration: none;
    transition: .5s;
    font-style: italic;
}

#bp-link:hover {
    color: #1cb955;
    font-size: 13px;
    transition: .5s;
}

#bp-link-icon {
    margin-left: 5px;
}